services:
  app:
    build: ./app
    ports:
      - "8000:8000"
    networks:
      - sre-network

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - sre-network

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - sre-network

networks:
  sre-network:
    driver: bridge